.container {
  background-color: yellow;
  width: 100%;
  height: 300px;
  border: 3px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* 데이터의 개수가 많아도 한줄로 정리 */
  /* 데이터의 개수가 많으면 자동정렬 */
  flex-wrap: wrap;
}
.item {
  width: 30px;
  height: 30px;
  background-color: red;
  border: 3px solid #000;
  margin: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
